:root {
  font-family: "Inter", sans-serif;
  /* letter-spacing: 2.7px; */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}
a {
  text-decoration: none !important;
}
body {
  background-color: #b6d9e4 !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h6 {
  font-size: 50% !important;
  font-weight: lighter;
}
header {
  position: relative;
  background: #58a3bb;
  height: 69px;
  align-items: center;
}
.header_container {
  position: relative;
  width: 100%;
  height: 85px;
  background: #58a3bb;
  margin: 0%;
}

.search-bar {
  border: none;
}
.nav_font {
  width: 39px;
  height: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 7px;
}
.middlenav {
  text-align: -webkit-center;
}

.footer-row {
  height: 46px;
}
.footer-banner {
  height: 31px;
}
.footer-container {
  background-color: #58a3bb;
  /* position: absolute; */
  /* bottom: 0; */
  margin-top: auto;
}

/* welocme page */

@media all and (max-width: 991px) {
  .headings {
    display: flex;
    flex-direction: column;
    padding-top: 96px;
  }
  .welcomepage-shoe {
    margin-top: -125px;
  }
  .login-image {
    width: 420px;
    padding-left: 52px;
    margin-top: -146px;
  }
  .advertisement-div {
    padding-left: 63px;
    padding-right: 61px;
  }
  .subheading-div {
    width: 180px;
  }
  .bigImage1{
    padding: 0 !important;
    border-radius: 10px 581.5px 10px 10px;
  }
}

.subheading-div {
  width: 180px;
}
.welcomeshoe-details {
  border-radius: 57px;
  width: 967px;
  height: 67px;
  background: #ffffff;
}
.details-container {
  margin-top: -100px;
}
.welcome-shoe-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  margin-top: revert;
}
.headingshoes {
  width: 364px;
}
.welcome-shoe-subheading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  margin-top: revert;
}
.main_head {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 49px;
  color: #1a408a;
}
.index_container {
  width: 100%;
  height: 712px;
  background: #b6d9e4;
}
.sub_head {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 49px;
  color: #1a408a;
}
.advertisement {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #1a408a;
}
.nav-item {
  justify-content: space-around;
}
.search-bar {
  width: 113px;
  border-radius: 10px;
}
.nav-link {
  background-color: #58a3bb;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
}
.logo {
  width: 106px;
}
.frontpagebanner {
  width: -webkit-fill-available;
}
.main-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcomepage-row {
  height: 555px;
}
.nullclass {
  height: 148px;
}
@media all and (max-width: 767px) {
  .frontpagebanner {
    width: -webkit-fill-available;
    margin-top: -176px;
  }
}

/* login page  */

.login-container {
  display: flex;
}
.login-row {
  width: 100%;
}
.login-div {
  width: 369px;
  height: 549px;
  background: #91c4d4;
  border-radius: 40px;
}
.login-image {
  width: 465px;
  padding-left: 52px;
}
.login-input {
  border-radius: 7px;
  width: 266px;
  height: 47px;
  border: none;
}
.login-inputt {
  border-radius: 7px;
  width: -webkit-fill-available;
  height: 49px;
  border: none;
}
.banner {
  width: 120px;
}
.small-text {
  font-size: 12px;
  color: dimgrey;
}
.login-button {
  background: #0f66b7;
  border-radius: 12px;
  width: 170px;
  height: 51px;
  border: none;
  color: white;
  margin-top: 10px;
}
.edit-button{
  width: -webkit-fill-available;
}
.signup-button {
  margin-top: -14px;
}
.imadminbutton {
  margin-top: 0 !important;
}

/* user signup */
.signup-div {
  height: 594px;
  margin-top: -29px;
}
.message {
  color: #0f66b7;
}
.otpbutton {
  margin-top: 21px;
}
.otpdiv {
  height: 385px;
  margin-top: 60px;
}

/* admin signin */

.adminsignin-banner {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #1a408a;
}
.adminsignin-form {
  padding-top: 41px;
}

.vertical {
  border-left: 1px solid rgba(0, 0, 0, 0.262);
  height: 384px;
  /* position:absolute; */
  /* left: 50%; */
}

.yourAccount {
  color: #1a408a !important;
}
.forgotPassword-OTP {
  height: 420px;
}
.newPassworddiv {
  height: 459px;
  margin-top: 46px;
}
.logout-btn{
  font-size: larger !important;
  font-weight: bolder !important;
}
.address-input{
  height: 138px;
  /* margin-top: -17px; */
}

.addAddressdiv {
  width: -webkit-fill-available;
  height: 201.8px;
  background: rgba(255, 255, 255, 0.42);
  border: 2px dashed #00C2FF;

}
.pluc-icon{
  font-size: 42px !important;
}
.headings{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 50px;
  line-height: 61px;
  color: #6a87c5;
}

/* product card  */
.product-grid{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  transition: all 0.5s;
}
.product-grid:hover{ box-shadow: 0 5px 18px rgba(0, 0, 0, 0.3); }
.product-grid .product-image{
  position: relative;
  overflow: hidden;
}
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
  width: 100%;
  height: auto;
}
.product-image .pic-1{
  opacity: 1;
  backface-visibility: hidden;
  transition: all 0.5s;
}
.product-grid:hover .product-image .pic-1{ opacity: 0; }
.product-image .pic-2{
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
}
.product-grid:hover .product-image .pic-2{ opacity: 1; }
.product-grid .product-sale-label{
  color: #fff;
  background: #6da84a;
  font-size: 14px;
  font-style: italic;
  text-transform: uppercase;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.product-grid .social{
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 15px;
  right: 7px;
}
.product-grid .social li{
  transform: translateX(60px);
  transition: all 0.3s ease 0.3s;
}
.product-grid .social li:nth-child(2){ transition: all 0.3s ease 0.4s; }
.product-grid:hover .social li{ transform: translateX(0); }
.product-grid .social li a{
  color: #707070;
  background: #fff;
  font-size: 16px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  margin: 0 0 7px;
  border-radius: 50px;
  display: block;
  transition: all 0.3s ease 0s;
}
.product-grid .social li a:hover{ color: #6DA84A; }
.product-grid .product-rating{
  background: rgba(255,255,255,0.95);
  width: 100%;
  padding: 10px;
  opacity: 0;
  position: absolute;
  bottom: -60px;
  left: 0;
  transition: all .2s ease-in-out 0s;
}
.product-grid:hover .product-rating{
  opacity: 1;
  bottom: 0;
}
.product-grid .rating{
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
}
.product-grid .rating li{
  color: #6DA84A;
  font-size: 13px;
}
.product-grid .rating li.far{ color: #999; }
.product-grid .add-to-cart{
  color: #6DA84A;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #6DA84A;
  float:right;
  transition: all .2s ease-in-out 0s;
}
.product-grid .add-to-cart:hover{
  color: #000;
  border-color: #000;
}
.product-grid .product-content{
  background: #F5F5F5;
  padding: 15px;
}
.product-grid .title{
  font-size: 18px;
  text-transform: capitalize;
  margin: 0 0 5px;
}
.product-grid .title a{
  color: #111;
  transition: all 500ms;
}
.product-grid .title a:hover{ color: #6DA84A; }
.product-grid .price{
  color: #707070;
  font-size: 17px;
  text-decoration: underline;
}
.product-grid .price span{
  text-decoration: line-through;
  margin-right: 5px;
  display: inline-block;
  opacity: 0.6;
}
@media only screen and (max-width:990px){
  .product-grid{ margin-bottom: 40px; }
}
.gap-col-1{
  height: 240px;
}
.bigImage1{
  padding: 0 !important;
  border-radius: 10px 414.5px 10px 10px;
}
.bigImage2{
  padding: 0 !important;
  border-radius: 414.5px 10px 10px 10px;
}
.BigImage1{
  border-radius: 173px;
  margin: 111px !important;
  width: -webkit-fill-available !important;
}
.BigImage2{
  border-radius: 124px;
}
.SideImage1{
  padding-left: 76px;
  padding-top: 22px;
}


