:root {
  font-family: "Inter", sans-serif;
  /* letter-spacing: 2.7px; */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}
a {
  text-decoration: none !important;
}
body {
  background-color: #b6d9e4 !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h6 {
  font-size: 50% !important;
  font-weight: lighter;
}
header {
  position: relative;
  background: #58a3bb;
  height: 69px;
  align-items: center;
}
.header_container {
  position: relative;
  width: 100%;
  height: 85px;
  background: #58a3bb;
  margin: 0%;
}

.search-bar {
  border: none;
}
.nav_font {
  width: 39px;
  height: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 7px;
}
.middlenav {
  text-align: -webkit-center;
}

.footer-row {
  height: 46px;
}
.footer-banner {
  height: 31px;
}
.footer-container {
  background-color: #58a3bb;
  /* position: absolute; */
  /* bottom: 0; */
  margin-top: auto;
}

/* welocme page */

@media all and (max-width: 991px) {
  .headings {
    display: flex;
    flex-direction: column;
    padding-top: 96px;
  }
  .welcomepage-shoe {
    margin-top: -125px;
  }
  .login-image {
    width: 465px;
    padding-left: 52px;
    margin-top: -146px;
  }
  .advertisement-div {
    padding-left: 63px;
    padding-right: 61px;
  }
  .subheading-div {
    width: 180px;
  }
}

.subheading-div {
  width: 180px;
}
.welcomeshoe-details {
  border-radius: 57px;
  width: 967px;
  height: 67px;
  background: #ffffff;
}
.details-container {
  margin-top: -100px;
}
.welcome-shoe-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  margin-top: revert;
}
.headingshoes {
  width: 364px;
}
.welcome-shoe-subheading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  margin-top: revert;
}
.main_head {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 49px;
  color: #1a408a;
}
.index_container {
  width: 100%;
  height: 712px;
  background: #b6d9e4;
}
.sub_head {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 49px;
  color: #1a408a;
}
.advertisement {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #1a408a;
}
.nav-item {
  justify-content: space-around;
}
.search-bar {
  width: 113px;
  border-radius: 10px;
}
.nav-link {
  background-color: #58a3bb;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
}
.logo {
  width: 106px;
}
.frontpagebanner {
  width: -webkit-fill-available;
}
.main-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcomepage-row {
  height: 555px;
}
.nullclass {
  height: 148px;
}
@media all and (max-width: 767px) {
  .frontpagebanner {
    width: -webkit-fill-available;
    margin-top: -176px;
  }
}

/* login page  */

.login-container {
  display: flex;
}
.login-row {
  width: 100%;
}
.login-div {
  width: 369px;
  height: 549px;
  background: #91c4d4;
  border-radius: 40px;
}
.login-image {
  width: 465px;
  padding-left: 52px;
}
.login-input {
  border-radius: 7px;
  width: 266px;
  height: 47px;
  border: none;
}
.login-inputt {
  border-radius: 7px;
  width: 323px;
  height: 49px;
  border: none;
}
.banner {
  width: 120px;
}
.small-text {
  font-size: 12px;
  color: dimgrey;
}
.login-button {
  background: #0f66b7;
  border-radius: 12px;
  width: 170px;
  height: 51px;
  border: none;
  color: white;
  margin-top: 10px;
}
.signup-button {
  margin-top: -14px;
}
.imadminbutton {
  margin-top: 0 !important;
}

/* user signup */
.signup-div {
  height: 594px;
  margin-top: -29px;
}
.message {
  color: #0f66b7;
}
.otpbutton {
  margin-top: 21px;
}
.otpdiv {
  height: 385px;
  margin-top: 60px;
}

/* admin signin */

.adminsignin-banner {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #1a408a;
}
.adminsignin-form {
  padding-top: 41px;
}

.vertical {
  border-left: 1px solid rgba(0, 0, 0, 0.262);
  height: 384px;
  /* position:absolute; */
  /* left: 50%; */
}

.yourAccount {
  color: #1a408a !important;
}
.forgotPassword-OTP {
  height: 420px;
}
.newPassworddiv {
  height: 459px;
  margin-top: 46px;
}
.logout-btn{
  font-size: larger !important;
  font-weight: bolder !important;
}
.address-input{
  height: 138px;
  /* margin-top: -17px; */
}
