:root {
  font-family: "Inter", sans-serif;
  /* letter-spacing: 2.7px; */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}
a {
  text-decoration: none !important;
}
body {
  background-color: #b6d9e4 !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h6 {
  font-size: 50% !important;
  font-weight: lighter;
}
header {
  position: relative;
  background: #58a3bb;
  height: 69px;
  align-items: center;
}
.icon-group a{
   color: #1a408a !important;
}
.header_container {
  /* position: relative; */
  /* width: 100%; */
  /* height: 85px; */
  background: #58a3bb;
}

.search-bar {
  border: none;
}
.nav_font {
  width: 39px;
  height: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 7px;
}
.middlenav {
  text-align: -webkit-center;
}

.footer-row {
  height: 46px;
}
.footer-banner {
  height: 31px;
}
.footer-container {
  background-color: #58a3bb;
  /* position: absolute; */
  /* bottom: 0; */
  margin-top: auto;
}

/* welocme page */

@media all and (max-width: 991px) {
  .headings {
    display: flex;
    flex-direction: column;
    padding-top: 96px;
  }
  .welcomepage-shoe {
    margin-top: -125px;
  }
  .login-image {
    width: 385px;
    padding-left: 52px;
    margin-top: -146px;
    margin-right: 32px;
  }
  .advertisement-div {
    padding-left: 63px;
    padding-right: 61px;
  }
  .subheading-div {
    width: 180px;
  }
  .bigImage1 {
    padding: 0 !important;
    border-radius: 10px 581.5px 10px 10px;
  }
}

.subheading-div {
  width: 180px;
}
.welcomeshoe-details {
  border-radius: 57px;
  width: 967px;
  height: 67px;
  background: #ffffff;
}
.details-container {
  margin-top: -100px;
}
.welcome-shoe-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  margin-top: revert;
}

.headingshoes {
  width: 364px;
}
.welcome-shoe-subheading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  margin-top: revert;
}
.main_head {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 49px;
  color: #1a408a;
}
.index_container {
  width: 100%;
  height: 712px;
  background: #b6d9e4;
}
.sub_head {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 49px;
  color: #1a408a;
}
@media all and (max-width: 991px) {
  .sub_head {
    padding-left: 36px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 49px;
    color: #1a408a;
  }
}
.advertisement {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #1a408a;
}
.nav-item {
  justify-content: space-around;
}
.search-bar {
  width: 113px;
  border-radius: 10px;
}
.nav-link {
  background-color: #58a3bb;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
}
.logo {
  width: 106px;
}
.frontpagebanner {
  width: -webkit-fill-available;
}
.main-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcomepage-row {
  height: 555px;
}
.nullclass {
  height: 148px;
}
@media all and (max-width: 767px) {
  .frontpagebanner {
    width: -webkit-fill-available;
    margin-top: -176px;
  }
}

/* login page  */

.login-container {
  display: flex;
}
.login-row {
  width: 100%;
}
.login-div {
  width: 345px;
  height: 549px;
  background: #91c4d4;
  border-radius: 40px;
}
.login-image {
  width: 370px;
  padding-left: 52px;
}
.login-input {
  border-radius: 7px;
  width: 266px;
  height: 47px;
  border: none;
}
.login-inputt {
  border-radius: 7px;
  width: -webkit-fill-available;
  /* height: 49px; */
  padding: 10px 5px;
  border: none;
}
.banner {
  width: 120px;
}
.small-text {
  font-size: 12px;
  color: dimgrey;
}
.login-button {
  background: #0f66b7;
  border-radius: 12px;
  width: 170px;
  height: 51px;
  border: none;
  color: white;
  margin-top: 10px;
}
.edit-button {
  width: -webkit-fill-available;
}
.signup-button {
  margin-top: -14px;
}
.imadminbutton {
  margin-top: 0 !important;
}

/* user signup */
.signup-div {
  height: 594px;
  margin-top: -29px;
}
.message {
  color: #0f66b7;
}
.otpbutton {
  margin-top: 21px;
}
.otpdiv {
  height: 385px;
  margin-top: 60px;
}

/* admin signin */

.adminsignin-banner {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #1a408a;
}
.adminsignin-form {
  padding-top: 41px;
}

.vertical {
  border-left: 1px solid rgba(0, 0, 0, 0.262);
  height: 384px;
  /* position:absolute; */
  /* left: 50%; */
}

.yourAccount {
  color: #1a408a !important;
}
.forgotPassword-OTP {
  height: 420px;
}
.newPassworddiv {
  height: 459px;
  margin-top: 46px;
}
.logout-btn {
  font-size: larger !important;
  font-weight: bolder !important;
}
.address-input {
  /* height: 138px; */
  /* margin-top: -17px; */
}

.addAddressdiv {
  width: -webkit-fill-available;
  height: 201.8px;
  background: rgba(255, 255, 255, 0.42);
  border: 2px dashed #00c2ff;
}
.pluc-icon {
  font-size: 42px !important;
}
.headings {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 50px;
  line-height: 61px;
  color: #6a87c5;
}

/* product card  */
.product-grid {
  font-family: "Roboto", sans-serif;
  text-align: center;
  transition: all 0.5s;
}
.product-grid:hover {
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.3);
}
.product-grid .product-image {
  position: relative;
  overflow: hidden;
}
.product-grid .product-image a.image {
  display: block;
}
.product-grid .product-image img {
  width: 100%;
  height: auto;
}
.product-image .pic-1 {
  opacity: 1;
  backface-visibility: hidden;
  transition: all 0.5s;
}
.product-grid:hover .product-image .pic-1 {
  opacity: 0;
}
.product-image .pic-2 {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
}
.product-grid:hover .product-image .pic-2 {
  opacity: 1;
}
.product-grid .product-sale-label {
  color: #fff;
  background: #6da84a;
  font-size: 14px;
  font-style: italic;
  text-transform: uppercase;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.product-grid .social {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 15px;
  right: 7px;
}
.product-grid .social li {
  transform: translateX(60px);
  transition: all 0.3s ease 0.3s;
}
.product-grid .social li:nth-child(2) {
  transition: all 0.3s ease 0.4s;
}
.product-grid:hover .social li {
  transform: translateX(0);
}
.product-grid .social li a {
  color: #707070;
  background: #fff;
  font-size: 16px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  margin: 0 0 7px;
  border-radius: 50px;
  display: block;
  transition: all 0.3s ease 0s;
}
.product-grid .social li a:hover {
  color: #6da84a;
}
.product-grid .product-rating {
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  padding: 10px;
  opacity: 0;
  position: absolute;
  bottom: -60px;
  left: 0;
  transition: all 0.2s ease-in-out 0s;
}
.product-grid:hover .product-rating {
  opacity: 1;
  bottom: 0;
}
.product-grid .rating {
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
}
.product-grid .rating li {
  color: #6da84a;
  font-size: 13px;
}
.product-grid .rating li.far {
  color: #999;
}
.product-grid .add-to-cart {
  color: #6da84a;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #6da84a;
  float: right;
  transition: all 0.2s ease-in-out 0s;
}
.product-grid .add-to-cart:hover {
  color: #000;
  border-color: #000;
}
.product-grid .product-content {
  background: #f5f5f5;
  padding: 15px;
}
.product-grid .title {
  font-size: 18px;
  text-transform: capitalize;
  margin: 0 0 5px;
}
.product-grid .title a {
  color: #111;
  transition: all 500ms;
}
.product-grid .title a:hover {
  color: #6da84a;
}
.product-grid .price {
  color: #707070;
  font-size: 17px;
  text-decoration: underline;
}
.product-grid .price span {
  text-decoration: line-through;
  margin-right: 5px;
  display: inline-block;
  opacity: 0.6;
}
@media only screen and (max-width: 990px) {
  .product-grid {
    margin-bottom: 40px;
  }
}
.gap-col-1 {
  height: 240px;
}
.bigImage1 {
  padding: 0 !important;
  border-radius: 10px 414.5px 10px 10px;
}
.bigImage2 {
  padding: 0 !important;
  border-radius: 414.5px 10px 10px 10px;
}
.BigImage1 {
  border-radius: 173px;
  margin: 111px !important;
  width: -webkit-fill-available !important;
}
.BigImage2 {
  border-radius: 124px;
}
.SideImage1 {
  padding-left: 76px;
  padding-top: 22px;
}
.cart_image {
  width: -webkit-fill-available;
}
.cart-price {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.cart-totalprice {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .card_wrap {
    display: flex;
  }
  .cardMargin {
    margin: 0.5em;
    width: calc(100% / 3);
  }
}
@media screen and (max-width: 768px) {
  .card:not(:first-child) {
    display: none;
  }
}
.card {
  border: none;
  border-radius: 0;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  /* top: 50%; */
  transform: translateY(-50%);
}
.carousal-row {
  width: 79%;
}
.carousel-arrow {
  margin-top: 600px;
}
.welcomePage-image {
  width: -webkit-fill-available;
}
.gaprow-welcomePage {
  height: 160px;
}
@media only screen and (max-width: 767px) {
  .gaprow-welcomePage {
    height: 42px;
  }
}
.backgroundImg {
  width: 101%;
  height: 600px;
  background-image: url(/images/pexels-photo-2231435.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}
.backgroundImg-row {
  width: 100%;
}
.gaprow2-welcomePage {
  height: 282px;
}
.footer-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
}
.writings {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.08em;
  padding-bottom: 17px;
}
.shopNow {
  background: rgba(255, 255, 255, 0.69);
  border-radius: 35px;
  width: 211px;
  height: 63px;
  border: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.08em;
}
@media only screen and (max-width: 768px) {
  .shopNow {
    background: rgba(255, 255, 255, 0.69);
    border-radius: 35px;
    width: 153px;
    height: 55px;
    border: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.08em;
  }
}
.border-div {
  border: 1px;
  width: 566px;
  height: 506px;
}
.subtotal {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
}
.second-footerIcon{
  font-size: 50px;
  color: #3C89A1
}
@media only screen and (max-width: 768px) {
  .second-footerIcon{
    font-size: 30px;
  }
}
.icon_body{
  font-size: 11px;
}
.addtocartbutton-inWishlist{
  background: #00C2FF;
}
.line{
  width: 0 !important;
}

/* wishlist */
.shopping-cart{
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
}

.shopping-cart.dark{
	background-color: #f6f6f6;
}

.shopping-cart .content{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: white;
}

.shopping-cart .block-heading{
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.shopping-cart .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}

.shopping-cart .dark .block-heading p{
	opacity:0.8;
}

.shopping-cart .block-heading h1,
.shopping-cart .block-heading h2,
.shopping-cart .block-heading h3 {
	margin-bottom:1.2rem;
	color: #3b99e0;
}

.shopping-cart .items{
	margin: auto;
}

.shopping-cart .items .product{
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .items .product .info{
	padding-top: 0px;
	text-align: center;
}

.shopping-cart .items .product .info .product-name{
	font-weight: 600;
}

.shopping-cart .items .product .info .product-name .product-info{
	font-size: 14px;
	margin-top: 15px;
}

.shopping-cart .items .product .info .product-name .product-info .value{
	font-weight: 400;
}

.shopping-cart .items .product .info .quantity .quantity-input{
    margin: auto;
    width: 80px;
}

.shopping-cart .items .product .info .price{
	margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
 }

.shopping-cart .summary{
	border-top: 2px solid #5ea4f3;
    background-color: #f7fbff;
    height: 100%;
    padding: 30px;
}

.shopping-cart .summary h3{
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .summary .summary-item:not(:last-of-type){
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart .summary .text{
	font-size: 1em;
	font-weight: 600;
}

.shopping-cart .summary .price{
	font-size: 1em;
	float: right;
}



@media (min-width: 768px) {
	.shopping-cart .items .product .info {
		padding-top: 25px;
		text-align: left; 
	}

	.shopping-cart .items .product .info .price {
		font-weight: bold;
		font-size: 22px;
		top: 17px; 
	}

	.shopping-cart .items .product .info .quantity {
		text-align: center; 
	}
	.shopping-cart .items .product .info .quantity .quantity-input {
		padding: 4px 10px;
		text-align: center; 
	}
}
.modal-input{
  border-radius: 11px;
}
.modalAddressHeight{
  height: 146px !important;
}
.modalAddressdiv{
  padding-left: 14px;
  padding-right: 20px;
}
