<%- include('./layouts/adminheader.ejs') %> 

<div class="container">
    <div class=" text-center mt-5 ">
        <h1 >Edit Product</h1>        
    </div>
    <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="card-body bg-light">   
                    <div class = "container">
                        <form  method="post" action="/productDetails/editProductImages" enctype="multipart/form-data">
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-6 py-2">
                                        <div class="form-group">
                                            <label for="form_name">Left side view *</label>
                                                <input id="form_name" type="file" name="image" class="form-control" placeholder="Please enter product name *"  data-error="product name is required." >                                                                           
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-2">
                                        <div class="form-group">
                                            <label for="form_name">Right side view *</label>
                                                <input id="form_name" type="file" name="image2" class="form-control" placeholder="Please enter product name *"  data-error="product name is required." >                                                                           
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-2">
                                        <div class="form-group">
                                            <label for="form_name">Top veiw *</label>
                                                <input id="form_name" type="file" name="image3" class="form-control" placeholder="Please enter product name *"  data-error="product name is required." >                                                                           
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-2">
                                        <div class="form-group">
                                            <label for="form_name">Rear view *</label>
                                                <input id="form_name" type="file" name="image4" class="form-control" placeholder="Please enter product name *"  data-error="product name is required." >                                                                           
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-2">
                                        <div class="form-group">
                                            <label for="form_name">Bottom view *</label>
                                                <input id="form_name" type="file" name="image5" class="form-control" placeholder="Please enter product name *"  data-error="product name is required." multiple>                                                                           
                                        </div>
                                    </div>
                                    <div class="col-md-6 py-2">
                                        <div class="form-group">
                                            <label for="form_name">Background NIL 3D view</label>
                                                <input id="form_name" type="file" name="image6" class="form-control" placeholder="Please enter product name *"  data-error="product name is required." multiple>                                                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-3">   
                                    <div class="col-md-6">                                        
                                        <input type="submit" class="btn btn-success btn-send  pt-2 btn-block
                                            " value="Edit Product" >                                    
                                    </div>
                                    <div class="col-md-6">                                        
                                       <a class="btn btn-success btn-send  pt-2 btn-block cancel-button" href="/productDetail">CANCEL</a>                                  
                                    </div>
                                </div> 
                            </div>
                            <input type="hidden" name="idd" value="<%=product.id %>">
                        </form>
                    </div>
                </div>                                
            </div>                                       
        </div>                                  
    </div>
 </div>
                


                                    
                        
                                


        

    <%- include('./layouts/adminfooter.ejs') %> 