<%- include('./layouts/adminheader.ejs') %> 

  <section>
    <!--for demo wrap-->
    <a href="/addCategory"><div class="box-3">
      <div class="btn btn-three button-pad">
        <span>ADD CATEGORY</span>
      </div>
    </div>  
  </a>   
    <h1>category DETAILS</h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Status</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody id="table_body">
          <% category.forEach(function(item,i){ %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= item.Name %></td>
              <td>
                <div class="box-2">
                  <div class="btn btn-two">
                    <span>ACTIVE</span>
                  </div>
                </div>                    
              </td>
            </tr>
            <% }) %>
            </tbody>
          </table>
  </div>
</section>

  




<%- include('./layouts/adminfooter.ejs') %> 
