<%- include('./layouts/userheader.ejs') %> 

<div class="container-fluid login-container">
    <div class="row login-row d-flex justify-content-center align-items-center justify-content-space-around my-5">
        <div class="col-lg-4 align-items-center">
            <div class="login-div mx-auto d-flex justify-content-center newPassworddiv">
                <form action="/userNewPassword" class="text-center align-items-center d-flex flex-column" method="post">
                    <img  class="banner py-4 pt-5" src="/images/RIS circle WHITE.png" alt="">                   
                    <input class="login-input my-2 p-2" type="password" placeholder="New Password" required="" id="newPassword" name="password" onkeyup="newPasswordCheck(this)"> 
                    <span class="text-danger" id="newPasswordErrorMessage"></span>                  
                    <input class="login-input my-2 p-2" type="password" placeholder="Confirm Password" required="" id="confirm_password" name="confirmpassword" onkeyup="check()">                                         
                    <p id="message"></p>
                    <button class="login-button otpbutton mb-5" id="submitButton" type="submit">Save Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
 function newPasswordCheck(t) {
    const inputPassword = $('#newPassword').val()
    if(t.value.match(/\s/g)){
        t.value=t.value.replace(/\s/g,'');
    }
    if(!inputPassword.match(/^(?=.*?[A-Za-z])(?=.*?[0-9]).{2,}$/)){
        $('#newPasswordErrorMessage').text('Password should contain an alphabet and a number')
        $('#submitButton').css('pointer-events','none')
    }else if(!inputPassword.match(/^[\w]{8,}$/)){
        $('#newPasswordErrorMessage').text('Password should be atleast 8 characters')
        $('#submitButton').css('pointer-events','none')
    }else{
        $('#newPasswordErrorMessage').text('')
        $('#submitButton').css('pointer-events','')
    }
    }

    var check = function() {
    if (document.getElementById('newPassword').value ==
        document.getElementById('confirm_password').value) {
        document.getElementById('message').style.color = 'green';
        document.getElementById('message').innerHTML = '';
        $('#submitButton').css('pointer-events','')
    } else {
        document.getElementById('message').style.color = 'red';
        document.getElementById('message').innerHTML = 'not matching';
        $('#submitButton').css('pointer-events','none')
    }
    }
</script>
<%- include('./layouts/userfooter.ejs') %> 
