<%- include('./layouts/userheader.ejs') %> 

<div class="container">
    <div class="row">
        <div class="col-12 py-5">
            <div>
                <h1 class="yourAccount">YOUR ACCOUNT</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-2">
            <div>
                <a href="">Account details</a>
            </div>
            <hr>
            <div>
                <a href="">Account details</a>
            </div>
            <hr>
            <div>
                <a href="">Account details</a>
            </div>
            <hr>
            <div>
                <a href="">Account details</a>
            </div>
            <hr>
            <div>
                <a href="">Account details</a>
            </div>
        </div>
        <div class = "vertical col-1"></div>
        <div class="col-9">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./layouts/userfooter.ejs') %> 