<%- include('./layouts/userheader.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-12 py-5">
            <h1 class="yourAccount">YOUR CART</h1>
        </div>
    </div>
</div>

<%- include('./layouts/userfooter.ejs') %>
