<%- include('./layouts/userheader.ejs') %> 

<div class="container-fluid login-container">
    <div class="row login-row d-flex justify-content-center align-items-center justify-content-space-around my-5">
        <div class="col-lg-4 align-items-center">
            <div class="login-div mx-auto d-flex newPassworddiv">
                <form action="/userNewPassword" class="text-center align-items-center" method="post">
                    <img  class="banner py-4 pt-5" src="/images/RIS circle WHITE.png" alt="">                   
                    <input class="login-input my-2" type="password" placeholder="New Password" required="" id="password" name="password" onkeyup="check()">                   
                    <input class="login-input my-2" type="password" placeholder="Confirm Password" required="" id="confirm_password" name="confirmpassword" onkeyup="check()">                                         
                    <p id="message"></p>
                    <button class="login-button otpbutton" type="submit">Save Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var check = function() {
    if (document.getElementById('password').value ==
        document.getElementById('confirm_password').value) {
        document.getElementById('message').style.color = 'green';
        document.getElementById('message').innerHTML = '';
    } else {
        document.getElementById('message').style.color = 'red';
        document.getElementById('message').innerHTML = 'not matching';
    }
    }
</script>
<%- include('./layouts/userfooter.ejs') %> 
