<%- include('./layouts/userheader.ejs') %> 
<div class="container-fluid login-container">
    <div class="row login-row d-flex justify-content-center align-items-center justify-content-space-around my-5">
        <div class="col-lg-4 align-items-center headings">
            <div class="headingshoes"><p class="main_head">Nike Air Force 1</p></div>
            <p class="sub_head">Mid '07 LV8</p>
            <div class="advertisement-div"><p class="advertisement">The wait is over. A beautiful blend of design and technology in every step of your running.</p></div>
        </div>
        <div class="col-lg-4 login-banner d-flex justify-content-center welcomepage-shoe">
            <img class="login-image"  src="/images/air-force-1-mid-07-lv8-shoes-LKdCFK-removebg-preview.png" alt="">
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center details-container">
    <div class="row welcomeshoe-details ">
        <div class="col-3 d-flex justify-content-center">
            <p class="welcome-shoe-heading mx-2">BRAND</p>
            <p class="welcome-shoe-subheading">NIKE</p>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <p class="welcome-shoe-heading mx-2">MODEL</p>
            <div class="subheading-div"><p class="welcome-shoe-subheading">Air Force 1 Mid '07 LV8</p></div>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <p class="welcome-shoe-heading mx-2">PRICE</p>
            <p class="welcome-shoe-subheading">$205</p>
        </div>
    </div>
</div>    
 
<%- include('./layouts/userfooter.ejs') %> 
